In [2]:
import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
ages.sort()
print(ages)

#finding te minimum age
print("Minimum age mong them is",min(ages))

#finding the amximum ages
print("Maximum age among them is",max(ages))

#Adding the minimum age and maximum age again to the list
ages.append(min(ages))
ages.append(max(ages))
print("After adding the ages",ages)

#finding the median of the ages
mdn_age = statistics.median(ages)
print ("Median:", mdn_age)

#finding the average of the ages
average=sum(ages)/len(ages)
print("Average of the ages",average)

#fimding the range between max and min
range=max(ages)-min(ages)
print("Range between them is",range)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age mong them is 19
Maximum age among them is 26
After adding the ages [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median: 24.0
Average of the ages 22.75
Range between them is 7

In [4]:
dog={""}
dog = {'name':'Bunny','color':'white','breed':'husky','legs':'4','age':'6'}

#printing the dictionary of the dog
print("dog dictionary",dog)
student ={'first_name':'sri ram','last_name':'krishna','Gender':'male','age':'22','marital_status':'single','skills':['player'],'country':'India','City':'Tanuku','Adress':'kaldhari'}
#printing the dictionary of the student
print("student dictionary=",student)

#printing the lenght of the student
print("length of student=",len(student))

#printig the student skills
print("skill of te student=",student['skills'])

#printing the type of the skills that student have
print("type of the student",type(student['skills']))

#adding more skills
student['skills'].append("playing")
student['skills'].append("coding")

#printing the key of the dictioanry of the dog
print("Keys of dog dictionary",dog.keys())

#printig the values of the dictioanry of the dog
print("values of dog dictioanry",dog.values())

#printing the key of the dictioanry of the student
print("keys of student dictionary",student.keys())

#printing the values of the dictioanry of the student
print("values of student dictionary",student.values())

dog dictionary {'name': 'Bunny', 'color': 'white', 'breed': 'husky', 'legs': '4', 'age': '6'}
student dictionary= {'first_name': 'sri ram', 'last_name': 'krishna', 'Gender': 'male', 'age': '22', 'marital_status': 'single', 'skills': ['player'], 'country': 'India', 'City': 'Tanuku', 'Adress': 'kaldhari'}
length of student= 9
skill of te student= ['player']
type of the student <class 'list'>
Keys of dog dictionary dict_keys(['name', 'color', 'breed', 'legs', 'age'])
values of dog dictioanry dict_values(['Bunny', 'white', 'husky', '4', '6'])
keys of student dictionary dict_keys(['first_name', 'last_name', 'Gender', 'age', 'marital_status', 'skills', 'country', 'City', 'Adress'])
values of student dictionary dict_values(['sri ram', 'krishna', 'male', '22', 'single', ['player', 'playing', 'coding'], 'India', 'Tanuku', 'kaldhari'])

In [111]:
sisters=('Chinni','Bhargavi','Harika')
Brothers=('Hema','Gowtham','Vasu')
siblings=sisters + Brothers

#printing the details of siblings
print("My siblings are",siblings)

#printing the count of siblings
print("Total No of Siblings are",len(siblings))
family_members = siblings + ('Pullarao','Aruna')

#printing family members details
print("My family members are",family_members)

My siblings are ('Chinni', 'Bhargavi', 'Harika', 'Hema', 'Gowtham', 'Vasu')
Total No of Siblings are 6
My family members are ('Chinni', 'Bhargavi', 'Harika', 'Hema', 'Gowtham', 'Vasu', 'Pullarao', 'Aruna')

In [122]:
it_companies={'facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]

#printing how amny comapanies are there
print(" No of comapnies",len(it_companies))

#Adding twitter to the companies
it_companies.add('Twitter')

#printing the present list
print("comapanies=",it_companies)

#Adding some of the comapanies
it_companies.update({'Infosys','TCS','Virtusa'})
print("After adding companies=",it_companies)

#usage of remove function
it_companies.remove('TCS')
print("After removing TCS",it_companies)

#usage of discard
it_companies.discard('facebook')
print("After discarding facebook",it_companies)

#finding a and b
print("A and B is",A.union(B))

#finding a intersection b
print("A intersection B is",A.intersection(B))

#finding is A subset of B
print("IS A subset of B",A.issubset(B))

#Finding A an dB are disjoint sets
print("Are A and B are disjoint Sets",A.isdisjoint(B))

#Finding symmetric difference between and B 
print(" symmetric difference between them is",A.symmetric_difference(B))

#deletion of set A
A.clear()
print(A)

#deletion of set B
B.clear()
print(B)

#converting ages to set
print("set is",set(age))
print("length of the age of set",len(set(age)))
print("length of the age",len(age))

 No of comapnies 7
comapanies= {'Apple', 'Amazon', 'Oracle', 'Microsoft', 'IBM', 'Google', 'facebook', 'Twitter'}
After adding companies= {'Oracle', 'Microsoft', 'TCS', 'Twitter', 'Apple', 'Amazon', 'Virtusa', 'Infosys', 'IBM', 'Google', 'facebook'}
After removing TCS {'Oracle', 'Microsoft', 'Twitter', 'Apple', 'Amazon', 'Virtusa', 'Infosys', 'IBM', 'Google', 'facebook'}
After discarding facebook {'Oracle', 'Microsoft', 'Twitter', 'Apple', 'Amazon', 'Virtusa', 'Infosys', 'IBM', 'Google'}
A and B is {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is {19, 20, 22, 24, 25, 26}
IS A subset of B True
Are A and B are disjoint Sets False
 symmetric difference between them is {27, 28}
set()
set()
set is {19, 22, 24, 25, 26}
length of the age of set 5
length of the age 8

In [114]:
r=int(input("enter r"))
_area_of_circle=3.14*r*r 

#printimg area of circle
print("Area of circle is",_area_of_circle)

#printing the circumference of te circle
_circumference_of_circle =2*3.14*r
print("Circumference of circle is",_circumference_of_circle)

enter r30
Area of circle is 2826.0
Circumference of circle is 188.4

In [118]:
a="I am a teacher and I love to inspirre and teach people"
#splitting the sentence into the words
print("Words after splitting are",a.split())

#Finding the unique words
unique_words = list(set(a.split()))
print("Unique words",unique_words)

#length of the unique words
print("length of unique words",len(unique_words))

Words after splitting are ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspirre', 'and', 'teach', 'people']
Unique words ['am', 'teach', 'teacher', 'inspirre', 'love', 'to', 'I', 'people', 'and', 'a']
length of unique words 10

In [95]:
a="Name\t Age\tCountry\tCity\t"
b="Asabeneh 250\tFinland\tHelsinki\t"
print(a)
print(b)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [10]:
radius = 10
area = 3.14*radius**2
print(f'"The area of circle with radius {radius} is {int(area)} meters square"')

"The area of circle with radius 10 is 314 meters square"

In [16]:
n=int(input())
lbs=[]
kgs=[]
while(n>0):
    n=n-1
    x=float(input())
    lbs.append(x)
    kgs.append(round(x/2.205,2)) 
print(kgs)

3
150
160
170
[68.03, 72.56, 77.1]